<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->
<title>Az Car</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- External CSS libraries -->
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/bootstrap.min.css}">
<link type="text/css" rel="stylesheet"
	href="/assets/css/magnific-popup.css">
<link type="text/css" rel="stylesheet"
	href="/assets/css/jquery.selectBox.css">
<link type="text/css" rel="stylesheet" href="/assets/css/dropzone.css">
<link type="text/css" rel="stylesheet"
	href="/assets/css/rangeslider.css">
<link type="text/css" rel="stylesheet"
	href="/assets/css/animate.min.css">
<link type="text/css" href="/assets/css/slick.css">
<link type="text/css" rel="stylesheet"
	th:src="@{/assets/css/jquery.mCustomScrollbar.css}">
<link type="text/css" rel="stylesheet"
	href="/assets/fonts/font-awesome/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet"
	href="/assets/fonts/flaticon/font/flaticon.css">


<!-- Favicon icon -->
<link rel="shortcut icon" href="/assets/img/favicon.ico"
	type="image/x-icon">

<!-- Google fonts -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

<!-- Custom Stylesheet -->
<link type="text/css" rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" id="style_sheet"
	href="/assets/css/skins/default.css">

</head>
<body id="top">
	<!-- Google Tag Manager (noscript) -->
	<!-- 	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGID"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript> -->
	<!-- End Google Tag Manager (noscript) -->
	<div class="page_loader"></div>

	<!-- main header start -->
	<header class="main-header sticky-header header-with-top"
		id="main-header-2">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-lg navbar-light rounded">
						<a class="navbar-brand logo navbar-brand d-flex mr-auto" href="/">
							<img src="/assets/img/logos/black-logo.png" alt="logo">
						</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbar"
							aria-controls="navbar" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="fa fa-bars"></span>
						</button>
						<div class="navbar-collapse collapse w-100" id="navbar">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"><a class="nav-link"
									th:href="@{/home/availablecars/}">Available Cars</a></li>
								<li class="nav-item" th:if="${session.user}"><a
									class="nav-link" href="#">My Plan</a></li>
								<li class="nav-item "><a class="nav-link" href="#">
										About Us </a></li>

								<li class="nav-item"><a class="nav-link" href="#">
										Contact Us </a></li>



								<li class="nav-item dropdown" th:if="${session.user}"><a
									class="btn btn-sm btn-white-sm-outline btn-round signup-link"
									th:href="@{/user/profile/} + ${session.user}"
									th:text="Hello+', ' +${session.user}"></a> <a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/logout">LogOut</a></li>


								<li class="nav-item dropdown" th:if="${session.admin}"><a
									class="btn btn-sm btn-white-sm-outline btn-round signup-link"
									th:href="@{/user/profile/}+ ${session.admin}"
									th:text="Hello+', ' +${session.admin}"></a> <a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/dashboard/">Dash board</a> <a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/logout">Logout</a></li>
								<li class="nav-item dropdown" th:unless="${session.isAuthen}"><a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/login">Login</a> <a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/register">Register</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- main header end -->

	<!-- Sub banner start -->
	<div class="sub-banner overview-bgi">
		<div class="container">
			<div class="page-name">
				<h1>Agent Detail</h1>
			</div>
		</div>
		<div class="page-info">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="breadcrumb-area">
							<ul>
								<li><a href="index.html">Index</a></li>
								<li><span>/</span>Agent Detail</li>
							</ul>
						</div>
					</div>
					<div class="col-md-7">
						<div class="contact-info">
							<ul>
								<li><i class="fa fa-phone"></i> +1-8X0-666-8X88</li>
								<li><a href="contact-1.html" class="btn btn-md btn-theme">Contact
										us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Sub banner end -->


	<!-- Agent detail end -->
	<div class="container-xl px-4 mt-4">
		<!-- Account page navigation-->
		<nav class="nav nav-borders">
			<a class="nav-link active ms-0"
				th:href="@{/user/profile/{email} (email=${email})}">Profile</a> <a
				class="nav-link" href="#">Billing</a> <a class="nav-link"
				th:href="@{/user/profile/changePassword/{email} (email=${email})}">Change
				Password</a> <a class="nav-link"
				th:href="@{/user/profile/edit/{email} (email=${email})}">Edit</a>
		</nav>
		<hr class="mt-0 mb-4">

		<div class="row">
			<p id="toast-success-edit-user" hidden="true"
				class="btn btn-outline-primary btn-lg btn-block">Success Example</p>
			<p id="toast-failed-edit-user" hidden="true"
				class="btn btn-outline-primary btn-lg btn-block">Failed Example</p>
			<div class="col-xl-4">
				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">Profile Picture</div>
					<div class="card-body text-center">
						<!-- Profile picture image-->
						<img class="img-account-profile rounded-circle mb-2"
							style="width: 300px" id="prev" th:src="'avatar/'+${user.image}"
							alt="">
						<!-- Profile picture help block-->
						<form th:action="@{/user/profile/edit/uploadFile}" method="post"
							enctype="multipart/form-data">
							<input class="form-control" name="image" id="image" type="file"
								onchange="return onFilesChange()"><br>
							<button class="btn btn-primary" type="submit"
								onclick="return form.submit()">Save</button>
						</form>

					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<form th:action="@{/user/profile/edit/{email} (email=${email})}"
					th:method="post" enctype="multipart/form-data" th:object="${user}"
					id="profileForm">
					<div class="col-xl-12">
						<!-- Account details card -->
						<div class="card mb-4">
							<div class="card-header">Account Details</div>
							<div class="card-body">
								<!-- Email -->
								<div class="mb-3">
									<label class="small mb-1" for="inputUsername">Email</label> <input
										class="form-control" id="inputUsername" type="text"
										th:value="*{email}" readonly>
								</div>
								<!-- Form Row for first name and last name -->
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1" for="inputFirstName">First
											name</label> <input class="form-control" id="firstName"
											name="firstName" type="text" th:value="*{firstName}">
											<span id="validation-first " class="text-danger"></span>
									</div>
									<div class="col-md-6">
										<label class="small mb-1" for="inputLastName">Last
											name</label> <input class="form-control" id="lastName"
											name="lastName" type="text" th:value="*{lastName}">
									</div>
								</div>
								<!-- Form Row for phone number and birthday -->
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1" for="inputPhone">Phone
											number</label> <input class="form-control" id="phone" name="phone"
											type="text" th:value="*{phone}">
									</div>
									<div class="col-md-6">
										<label class="small mb-1" for="inputBirthday">Birthday</label>
										<input class="form-control" id="dob" th:type="date" name="dob"
											th:value="*{dob}">
									</div>
								</div>
								<!-- Gender selection -->
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1" for="inputGender">Gender</label> <select
											class="form-control" id="gender" name="gender"
											th:field="*{gender}">
											<option value="male">Male</option>
											<option value="female">Female</option>
											<!-- Add more options as needed -->
										</select>
									</div>
								</div>
								<!-- Save changes button -->
								<button onclick="return form.submit()" class="btn btn-primary" type="submit">Save
									changes</button>
							</div>
						</div>
					</div>
				</form>

			</div>

		</div>
	</div>
	<!-- Agent page end -->

	<!-- Footer start -->
	<footer class="footer">
		<div class="container footer-inner">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
					<div class="footer-item">
						<h4>Contact Us</h4>
						<div class="f-border"></div>
						<ul class="contact-info">
							<li>Address: 20/F Green Road, Dhanmondi, Dhaka</li>
							<li>Email: <a href="mailto:info@themevessel.com">info@themevessel.com</a>
							</li>
							<li>Phone: <a href="tel:+0477-85x6-552">+XXXX XXXX XXX</a>
							</li>
							<li>Fax: +XXXX XXXX XXX</li>
						</ul>

						<ul class="social-list clearfix">
							<li><a href="#" class="facebook-bgh"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter-bgh"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="google-bgh"><i
									class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="rss-bgh"><i class="fa fa-rss"></i></a></li>
							<li><a href="#" class="linkedin-bgh"><i
									class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
					<div class="footer-item">
						<h4>Useful Links</h4>
						<div class="f-border"></div>
						<ul class="links">
							<li><a href="#"><i class="flaticon-arrows"></i>About us</a>
							</li>
							<li><a href="#"><i class="flaticon-arrows"></i>Service</a></li>
							<li><a href="#"><i class="flaticon-arrows"></i>Car
									Listing</a></li>
							<li><a href="#"><i class="flaticon-arrows"></i>Car Grid</a>
							</li>
							<li><a href="#"><i class="flaticon-arrows"></i>Contact
									Us</a></li>
							<li><a href="#"><i class="flaticon-arrows"></i>Blog</a></li>
							<li><a href="#"><i class="flaticon-arrows"></i>Car
									Details</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
					<div class="recent-posts footer-item">
						<h4>Recent Posts</h4>
						<div class="f-border"></div>
						<div class="media mb-4">
							<a class="pr-3" href="car-details.html"> <img
								src="/assets/img/sub-car/sub-car.jpg" alt="car">
							</a>
							<div class="media-body align-self-center">
								<h5>
									<a href="car-details.html">2016 Audi S5 Coupe</a>
								</h5>
								<p>February 27, 2022</p>
								<p>
									<strong>$245,000</strong>
								</p>
							</div>
						</div>
						<div class="media mb-4">
							<a class="pr-3" href="car-details.html"> <img
								src="/assets/img/sub-car/sub-car-2.jpg" alt="car">
							</a>
							<div class="media-body align-self-center">
								<h5>
									<a href="car-details.html">2016 Audi R8</a>
								</h5>
								<p>February 27, 2022</p>
								<p>
									<strong>$245,000</strong>
								</p>
							</div>
						</div>
						<div class="media">
							<a class="pr-3" href="car-details.html"> <img
								src="/assets/img/sub-car/sub-car-3.jpg" alt="car">
							</a>
							<div class="media-body align-self-center">
								<h5>
									<a href="car-details.html">Read Audi A7 TDI</a>
								</h5>
								<p>February 27, 2022</p>
								<p>
									<strong>$245,000</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
					<div class="footer-item clearfix">
						<h4>Subscribe</h4>
						<div class="f-border"></div>
						<div class="Subscribe-box">
							<p>Excepteur sint occaecat cupidatat non proident, sunt in
								culpa qui officia deserunt mollit.</p>
							<form action="#" method="GET">
								<p>
									<input type="text" class="form-contact" name="email"
										placeholder="Enter Address">
								</p>
								<p>
									<button type="submit" name="submitNewsletter"
										class="btn btn-block btn-color">Subscribe</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12">
					<p class="copy">
						&copy; 2022 <a href="http://themevessel.com/" target="_blank">Theme
							Vessel</a>. Trademarks and brands are the car of their respective
						owners.
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- Full Page Search -->
	<div id="full-page-search">
		<button type="button" class="close">×</button>
		<form action="#">
			<input type="search" value="" placeholder="type keyword(s) here" />
			<button type="button" class="btn btn-sm btn-color">Search</button>
		</form>
	</div>

	<!-- Car Video Modal -->
	<div class="modal car-modal fade" id="carModal" tabindex="-1"
		role="dialog" aria-labelledby="carModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6 modal-left">
							<div class="modal-left-content">
								<div id="modalCarousel" class="carousel slide"
									data-ride="carousel">
									<div class="carousel-inner" role="listbox">
										<div class="carousel-item active">
											<iframe class="modalIframe"
												src="https://www.youtube.com/embed/5e0LxrLSzok"
												allowfullscreen></iframe>
										</div>
										<div class="carousel-item">
											<img src="/assets/img/car-1.jpg" alt="Test ALT">
										</div>
										<div class="carousel-item">
											<img src="/assets/img/car-1.jpg" alt="Test ALT">
										</div>
									</div>
									<a class="control control-prev" href="#modalCarousel"
										role="button" data-slide="prev"> <i
										class="fa fa-angle-left"></i>
									</a> <a class="control control-next" href="#modalCarousel"
										role="button" data-slide="next"> <i
										class="fa fa-angle-right"></i>
									</a>
								</div>
								<div class="description">
									<h3>Description</h3>
									<p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac
										diam. Donec neque massa, viverra interdum eros ut, imperdiet
										pellentesque mauris. Proin sit amet</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 modal-right">
							<div class="modal-right-content bg-white">
								<strong class="price"> <i class="fa fa-star"></i> <i
									class="fa fa-star"></i> <i class="fa fa-star"></i> <i
									class="fa fa-star"></i> <i class="fa fa-star-half-o"></i>
								</strong>
								<section>
									<h3>Audi A5</h3>
									<ul class="bullets">
										<li><i class="fa fa-arrow-right"></i> Audio Interface</li>
										<li><i class="fa fa-arrow-right"></i> CDR Audio</li>
										<li><i class="fa fa-arrow-right"></i> Seat Heating</li>
										<li><i class="fa fa-arrow-right"></i> ParkAssist</li>
										<li><i class="fa fa-arrow-right"></i> Cruise Control</li>
										<li><i class="fa fa-arrow-right"></i> Airbags</li>
										<li><i class="fa fa-arrow-right"></i> Air Conditioning</li>
										<li><i class="fa fa-arrow-right"></i> Alarm System</li>
									</ul>
								</section>
								<section>
									<h3>Overview</h3>
									<dl>
										<dt>Model</dt>
										<dd>BMW</dd>
										<dt>Condition</dt>
										<dd>Brand New</dd>
										<dt>Year</dt>
										<dd>2018</dd>
										<dt>Mileage</dt>
										<dd>37,000 mi</dd>
										<dt>Price</dt>
										<dd>$178,000</dd>
									</dl>
								</section>
								<a href="car-details.html" class="btn btn-theme">Show Detail</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Off-canvas sidebar -->
	<div class="off-canvas-sidebar">
		<div class="off-canvas-sidebar-wrapper">
			<div class="off-canvas-header">
				<a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
			</div>
			<div class="off-canvas-content">
				<aside class="canvas-widget">
					<div class="logo text-center">
						<img src="/assets/img/logos/logo.png" alt="logo">
					</div>
				</aside>
				<aside class="canvas-widget">
					<ul class="menu">
						<li class="menu-item menu-item-has-children"><a
							href="index.html">Home</a></li>
						<li class="menu-item"><a href="car-grid-leftside.html">Car
								List</a></li>
						<li class="menu-item"><a href="car-details.html">Car
								Detail</a></li>
						<li class="menu-item"><a
							href="blog-single-sidebar-right.html">Blog</a></li>
						<li class="menu-item"><a href="about-1.html">About US</a></li>
						<li class="menu-item"><a href="contact-1.html">Contact US</a></li>
					</ul>
				</aside>
				<aside class="canvas-widget">
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

	<!-- External JS libraries -->
	<script type="text/javascript" src="/assets/js/jquery-2.2.0.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.selectBox.js"></script>
	<script src="/assets/js/rangeslider.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/jquery.filterizr.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/backstretch.js"></script>
	<script src="/assets/js/jquery.countdown.js"></script>
	<script src="/assets/js/jquery.scrollUp.js"></script>
	<script src="/assets/js/particles.min.js"></script>
	<script src="/assets/js/typed.min.js"></script>
	<script src="/assets/js/dropzone.js"></script>
	<script src="/assets/js/jquery.mb.YTPlayer.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
	<script src="/assets/js/ie-emulation-modes-warning.js"></script>
	<!-- Custom JS Script -->
	<script src="/assets/js/app.js"></script>

	

</body>
</html>