

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   
    <!-- End Google Tag Manager -->
    <title>AzCar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/jquery.selectBox.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/dropzone.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/rangeslider.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/jquery.mCustomScrollbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/flaticon/font/flaticon.css}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" id="style_sheet" th:href="@{/assets/css/skins/default.css}">

</head>
<body id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGID"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Contact section start -->
<div class="contact-section overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- Logo -->
                    <a href="index.html">
                        <img th:src="@{/assets/img/logos/logo.png}" class="cm-logo" alt="logo">
                    </a>
                    <!-- details -->
                    <div class="details">
                        <!-- Name -->
                        <h3>Recover your password</h3>
                        <!-- Form start -->
                        <form th:action="@{/forgot_password}" method="post">
                        <div th:if="${success != null}">
                        	<p class="text-danger">[[${success}]]</p>
                        </div>
                        <div th:if="${error!= null}">
                        	<p class="text-danger">[[${error}]]</p>
                        </div>
                        <div>
                        	<p>We will be sending a reset password link to your email.</p>
                        </div>
                            <div class="form-group">
                                <input type="text" name="email" class="input-text" placeholder="Email Address">
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" onclick="return form.submit()" class="btn-md btn-theme btn-block">Send Me Email</button>
                            </div>
                        </form>
                        <!-- Form end -->
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>Already a member? <a href="/login">Login here</a></span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="button" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- External JS libraries -->
<script th:src="@{/assets/js/jquery-2.2.0.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/jquery.selectBox.js}"></script>
<script th:src="@{/assets/js/rangeslider.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/jquery.filterizr.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/backstretch.js}"></script>
<script th:src="@{/assets/js/jquery.countdown.js}"></script>
<script th:src="@{/assets/js/jquery.scrollUp.js}"></script>
<script th:src="@{/assets/js/particles.min.js}"></script>
<script th:src="@{/assets/js/typed.min.js}"></script>
<script th:src="@{/assets/js/dropzone.js}"></script>
<script th:src="@{/assets/js/jquery.mb.YTPlayer.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE}"></script>
<script th:src="@{/assets/js/ie-emulation-modes-warning.js}"></script>
<!-- Custom JS Script -->
<script  th:src="@{/assets/js/app.js}"></script>
</body>
</html>