<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Google Tag Manager -->
<!--    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TAGID');</script> -->
<!-- End Google Tag Manager -->
<title>Az Car</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- External CSS libraries -->
<link type="text/css" rel="stylesheet"
	th:href="@{assets/css/bootstrap.min.css}">
<link type="text/css" rel="stylesheet"
	href="assets/css/magnific-popup.css">
<link type="text/css" rel="stylesheet"
	href="assets/css/jquery.selectBox.css">
<link type="text/css" rel="stylesheet" href="assets/css/dropzone.css">
<link type="text/css" rel="stylesheet" href="assets/css/rangeslider.css">
<link type="text/css" rel="stylesheet" href="assets/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="assets/css/slick.css">
<link type="text/css" rel="stylesheet"
	href="assets/css/jquery.mCustomScrollbar.css">
<link type="text/css" rel="stylesheet"
	href="assets/fonts/font-awesome/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet"
	href="assets/fonts/flaticon/font/flaticon.css">

<!-- Favicon icon -->
<link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}"
	type="image/x-icon">

<!-- Google fonts -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

<!-- Custom Stylesheet -->
<link type="text/css" rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" type="text/css" id="style_sheet"
	href="assets/css/skins/default.css">
<link rel="stylesheet"
	href="/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.css">
<style type="text/css">
.google-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #FF0000;
	/* Màu đỏ */
	color: #FFFFFF;
	/* Màu chữ trắng */
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
}

.google-btn:hover {
	background-color: #CC0000;
	/* Màu đỏ nhạt khi hover */
}

.form-group {
	position: relative;
}

.text-danger {
	position: absolute;
	left: 0;
	bottom: -22px; /* Điều chỉnh khoảng cách nếu cần */
	font-size: 12px;
}
</style>

</head>

<body id="top">
	<!-- <!-- Google Tag Manager (noscript) -->
	<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGID"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
End Google Tag Manager (noscript)
<div class="page_loader"></div> -->

	<!-- Contact section start -->
	<div class="contact-section overview-bgi">
		<div class="container">
			<div class="row">

				<p id="toast-success-login" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Success
					Example</p>
				<p id="toast-failed-login" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Failed Example</p>

				<p id="toast-success-loginGoogle" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Success
					Example</p>
				<p id="toast-failed-loginGoogle" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Failed Example</p>
				<div class="col-lg-12">
					<!-- Form content box start -->
					<div class="form-content-box">
						<!-- Logo -->
						<a href="/"> <img src="assets/img/logos/logo.png"
							class="cm-logo" alt="logo">
						</a>
						<!-- details -->
						<div class="details">
							<!-- Name -->
							<h3>Sign into your account</h3>
							<div th:if="${goolgleVerify !=null}">
								<h5 class="text-success"
									th:text="${'Success Register by Google'}"></h5>
								<h6 class="text-success"
									th:text="${'Check your mail to continue Login'}"></h6>
							</div>

							<p id="toast-failed-login" hidden="true"
								class="btn btn-outline-primary btn-lg btn-block">Failed
								Example</p>

							<!-- Form start -->
							<form method="post" role="form" th:action="@{/dologin}"
								id="loginForm">
								<div class="form-group" style="bottom: 10px"
									th:if="${session.signin_error}">
									<p class="text-danger" th:text="${session.signin_error}"></p>
								</div>
								<div class="form-group">
									<input type="email" id="email" name="email" class="input-text"
										placeholder="Email Address" onkeyup="validateEmail();">
									<span id="validation-email" class="text-danger"> <i
										class="fa fa-exclamation" style="display: none;"></i> <span
										class="error-message"></span>
									</span>
								</div>
								<div class="form-group">
									<input type="password" id="password" name="password"
										class="input-text" placeholder="Password"
										onkeyup="validatePassword();"> <span
										id="validation-password" class="text-danger"> <i
										class="fa fa-exclamation" style="display: none;"></i> <span
										class="error-message"></span>
									</span>
								</div>
								<div class="checkbox">
									<div class="ez-checkbox pull-left">
										<label> <input type="checkbox" class="ez-hide">
											Remember me
										</label>
									</div>
									<a href="/forgot_password"
										class="link-not-important pull-right">Forgot Password</a>
									<div class="clearfix"></div>
								</div>
								<div class="form-group mb-0">
									<button type="submit" class="btn-md btn-theme">Login</button>
								</div>
							</form>
							<!-- Form end -->
							<p></p>
							<a th:href="@{/oauth2/authorization/google}" class="google-btn">
								<i class="fa fa-google"></i> Đăng ký bằng Google
							</a>

						</div>
						<!-- Footer -->
						<div class="footer">
							<span> Don't have an account? <a href="/register">Register

									here</a>
							</span>
						</div>
					</div>
					<!-- Form content box end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Contact section end -->

	<!-- Full Page Search -->
	<div id="full-page-search">
		<button type="button" class="close">×</button>
		<form action="#">
			<input type="search" value="" placeholder="type keyword(s) here" />
			<button type="button" class="btn btn-sm btn-color">Search</button>
		</form>
	</div>

	<!-- External JS libraries -->
	<script type="text/javascript"
		th:src="@{/assets/js/jquery-2.2.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.selectBox.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/rangeslider.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.magnific-popup.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.filterizr.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/wow.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/backstretch.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.countdown.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/jquery.scrollUp.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/particles.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/typed.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/dropzone.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.mb.YTPlayer.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/slick.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
	<script type="text/javascript"
		th:src="@{assets/js/ie-emulation-modes-warning.js}"></script>
	<!-- Custom JS Script -->
	<script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
	<script
		th:src="@{/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.js}"></script>

	<script th:src="@{/adminAssets/assets/static/js/pages/sweetalert2.js}"></script>
	<script type="text/javascript">
		function validateEmail() {
			const emailInput = document.getElementById("email");
			const validationMessage = document.getElementById(
					'validation-email').querySelector('.error-message');
			const validationIcon = document.getElementById('validation-email')
					.querySelector('i');

			if (emailInput.value.trim() === "") {
				validationMessage.textContent = "Email is required";
				validationIcon.style.display = "inline";
				return false;
			} else {
				validationMessage.textContent = "";
				validationIcon.style.display = "none";
				return true;
			}
		}

		function validatePassword() {
			const passwordInput = document.getElementById("password");
			const validationMessage = document.getElementById(
					'validation-password').querySelector('.error-message');
			const validationIcon = document.getElementById(
					'validation-password').querySelector('i');

			if (passwordInput.value.trim() === "") {
				validationMessage.textContent = "Password is required";
				validationIcon.style.display = "inline";
				return false;
			} else {
				validationMessage.textContent = "";
				validationIcon.style.display = "none";
				return true;
			}
		}

		function checkSubmitLogin(event) {
			event.preventDefault();
			const isValidEmail = validateEmail();
			const isValidPassword = validatePassword();

			if (isValidEmail && isValidPassword) {
				// Optionally, you can add custom logic here before form submission
				document.getElementById('loginForm').submit(); // Submit the form if validation passes
			} else {
				document.getElementById('toast-failed-login').click(); // Show error toast if validation fails
			}
		}

		document.addEventListener('DOMContentLoaded', function() {
			document.getElementById('loginForm').addEventListener('submit',
					checkSubmitLogin);

			document.addEventListener('keypress', function(event) {
				if (event.key === 'Enter') {
					event.preventDefault();
					checkSubmitLogin(event);
				}
			});
		});
	</script>
</body>

</html>