<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Google Tag Manager -->
<!--  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TAGID');</script> -->
<!-- End Google Tag Manager -->
<title>Az Car</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- External CSS libraries -->
<link type="text/css" rel="stylesheet"
	href="assets/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
	href="assets/css/magnific-popup.css">
<link type="text/css" rel="stylesheet"
	href="assets/css/jquery.selectBox.css">
<link type="text/css" rel="stylesheet" href="assets/css/dropzone.css">
<link type="text/css" rel="stylesheet" href="assets/css/rangeslider.css">
<link type="text/css" rel="stylesheet" href="assets/css/animate.min.css">
<link type="text/css" rel="stylesheet" href="assets/css/slick.css">
<link type="text/css" rel="stylesheet"
	href="assets/css/jquery.mCustomScrollbar.css">
<link type="text/css" rel="stylesheet"
	href="assets/fonts/font-awesome/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet"
	href="assets/fonts/flaticon/font/flaticon.css">

<!-- Favicon icon -->
<link rel="shortcut icon" href="assets/img/favicon.ico"
	type="image/x-icon">

<!-- Google fonts -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

<!-- Custom Stylesheet -->
<link type="text/css" rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" type="text/css" id="style_sheet"
	href="assets/css/skins/default.css">
<link rel="stylesheet"
	href="/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.css">
</head>
<style>
.form-group {
	position: relative;
	margin-bottom: 20px;
}

.input-text {
	width: calc(100% - 40px);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.toggle-password {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.toggle-password i {
	color: #777;
}

.toggle-password.active i {
	color: #333;
}
</style>
<body id="top">
	<!-- Google Tag Manager (noscript) -->
	<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGID"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
End Google Tag Manager (noscript)
<div class="page_loader"></div> -->

	<!-- Contact section start -->
	<div class="contact-section overview-bgi">
		<div class="container">
			<div class="row">
				<p id="toast-success-registered-user" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Success
					Example</p>
				<p id="toast-failed-register-user" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Failed Example</p>
				<p id="toast-failed-register-exit" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Failed Example</p>
				<div class="col-lg-12">
					<!-- Form content box start -->
					<div class="form-content-box">
						<!-- Logo-->
						<a href="index.html"> <img src="assets/img/logos/logo.png"
							class="cm-logo" alt="logo">
						</a>
						<!-- details -->
						<div class="details">
							<!-- Name -->
							<h3>Create an account</h3>
							<div th:if="${param.success}">
								<div class="alert alert-info">Registration successful !!!
								</div>
							</div>

							<!-- Form start-->
							<form method="post" role="form" th:action="@{/register}"
								th:object="${user}" id="registerUser">
								<div class="form-group">
									<input type="text" id="name" name="name" class="input-text"
										placeholder="Full Name" onkeyup="validateName();"> <span
										id="validation-name" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="text" id="email" name="email" class="input-text"
										placeholder="Email Address" onkeyup="validateEmail();">
									<span id="validation-email" class="text-danger"></span>
									<p class="text-danger" th:text="${errorMessage}"></p>

								</div>
								<div class="form-group">
									<input type="password" id="password" name="password"
										class="input-text" placeholder="Password"
										onkeyup="validatePassword();"> <span
										id="validation-password" class="text-danger"></span>
									<button type="button" class="toggle-password"
										id="togglePassword1"
										onclick="togglePasswordVisibility('password')">
										<i class="fa fa-eye"></i>
									</button>
								</div>

								<div class="form-group">
									<input type="password" id="confirmPassword"
										name="confirmPassword" class="input-text"
										placeholder="Confirm Password"
										onkeyup="validateConfirmPassword();"> <span
										id="validation-confirmPassword" class="text-danger"></span>
									<button type="button" class="toggle-password"
										id="togglePassword2"
										onclick="togglePasswordVisibility('confirmPassword')">
										<i class="fa fa-eye"></i>
									</button>
								</div>
								<div class="form-group mb-0">
									<button class="btn-md btn-theme"
										onclick="return checkSubmitRegisterUser();">Signup</button>
								</div>
							</form>
							<!-- Form end-->
						</div>
						<!-- Footer -->
						<div class="footer">
							<span> Already a member? <a th:href="@{/login}">Login
									here</a>
							</span>
						</div>
					</div>
					<!-- Form content box end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Contact section end -->

	<!-- Full Page Search -->
	<div id="full-page-search">
		<button type="button" class="close">×</button>
		<form action="#">
			<input type="search" value="" placeholder="type keyword(s) here" />
			<button type="button" class="btn btn-sm btn-color">Search</button>
		</form>
	</div>

	<!-- External JS libraries -->
	<script type="text/javascript"
		th:src="@{/assets/js/jquery-2.2.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.selectBox.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/rangeslider.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.magnific-popup.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.filterizr.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/wow.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/backstretch.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.countdown.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/jquery.scrollUp.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/particles.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/typed.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/dropzone.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.mb.YTPlayer.js}"></script>
	<script type="text/javascript" th:src="@{assets/js/slick.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
	<script type="text/javascript"
		th:src="@{assets/js/ie-emulation-modes-warning.js}"></script>
	<!-- Custom JS Script -->
	<script type="text/javascript" th:src="@{/assets/js/app.js}"></script>


	<script
		th:src="@{/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.js}"></script>

	<script th:src="@{/adminAssets/assets/static/js/pages/sweetalert2.js}"></script>


	<script>
		function validateName() {
			const nameValue = document.getElementById("name").value;

			if (nameValue === "") {
				document.getElementById('validation-name').textContent = "Name is required";
				return false;
			} else {
				document.getElementById('validation-name').textContent = "";
				return true;
			}
		}

		function validateEmail() {
			const emailValue = document.getElementById("email").value;
			var pattern = /^[\w.]+@gmail\.com$/;

			if (emailValue === "") {
				document.getElementById('validation-email').textContent = "Email is required";
				return false;
			} else if (!pattern.test(emailValue)) {
				document.getElementById('validation-email').textContent = "Email must be in correct format";
				return false;
			} else {
				document.getElementById('validation-email').textContent = "";

				return true;
			}
		}

		function validatePassword() {
		    const passwordValue = document.getElementById("password").value;

		    if (passwordValue.length < 8) {
		        document.getElementById('validation-password').textContent = "Password must be at least 8 characters long";
		        return false;
		    } else if (!/[A-Z]/.test(passwordValue)) {
		        document.getElementById('validation-password').textContent = "Password must contain at least one uppercase letter";
		        return false;
		    } else {
		        document.getElementById('validation-password').textContent = "";
		        return true;
		    }
		}

		function validateConfirmPassword() {
			const passwordValue = document.getElementById("password").value;
			const confirmPasswordValue = document
					.getElementById("confirmPassword").value;

			if (confirmPasswordValue === "") {
				document.getElementById('validation-confirmPassword').textContent = "Confirm Password is required";
				return false;
			} else if (passwordValue !== confirmPasswordValue) {
				document.getElementById('validation-confirmPassword').textContent = "Passwords do not match";
				return false;
			} else {
				document.getElementById('validation-confirmPassword').textContent = "";
				return true;
			}
		}

		function checkSubmitRegisterUser() {
		    var isValidName = validateName();
		    var isValidEmail = validateEmail();
		    var isValidPassword = validatePassword();
		    var isValidConfirmPassword = validateConfirmPassword();

		    if (isValidName && isValidEmail && isValidPassword && isValidConfirmPassword) {
		        Swal.fire({
		            title: 'Sending Mail',
		            html: 'Loading...',
		            timerProgressBar: true,
		            showCancelButton: false,
		            showConfirmButton: false,
		            didOpen: () => {
		                Swal.showLoading();
		            }
		        });

		        var formData = new FormData(document.getElementById('registerUser'));
		        fetch('/register', {
		            method: 'POST',
		            body: formData
		        })
		        .then(response => {
		            Swal.close(); 
		            if (!response.ok) {
		                throw new Error('Network response was not ok');
		            }
		            return response.text(); 
		        })
		        .then(data => {
		            if (data === "Email already registered !!!") {
		                document.getElementById('toast-failed-register-user').click();
		                document.getElementById('validation-email').textContent = "Email already registered";
		            } else if (data === "Confirm Password do not match." || data === "Validation error occurred." || data === "Error sending email." || data === "Error occurred.") {
		                document.getElementById('toast-failed-register-user').click();
		                alert(data); 
		            } else {
		                document.getElementById('toast-success-registered-user').click();
		                document.getElementById('registerUser').reset(); 
		            }
		        })
		        .catch(error => {
		            Swal.close(); // Close the Swal modal on error
		            document.getElementById('toast-failed-register-exit').click();
		        });
		    } else {
		        document.getElementById('toast-failed-register-user').click();
		    }
		    return false; 
		}
		function togglePasswordVisibility(inputId) {
		    var passwordField = document.getElementById(inputId);
		    var toggleButton = document.getElementById("togglePassword" + inputId.slice(-1)); 

		    if (passwordField.type === "password") {
		        passwordField.type = "text";
		        toggleButton.innerHTML = '<i class="far fa-eye-slash"></i>'; 
		    } else {
		        passwordField.type = "password";
		        toggleButton.innerHTML = '<i class="far fa-eye"></i>'; 
		    }
		}
	</script>

</body>
</html>