

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- End Google Tag Manager -->
<title>AzCar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- External CSS libraries -->
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/bootstrap.min.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/magnific-popup.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/jquery.selectBox.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/dropzone.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/rangeslider.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/animate.min.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/slick.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/jquery.mCustomScrollbar.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/fonts/font-awesome/css/font-awesome.min.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/fonts/flaticon/font/flaticon.css}">

<!-- Favicon icon -->
<link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}"
	type="image/x-icon">

<!-- Google fonts -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

<!-- Custom Stylesheet -->
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/css/style.css}">
<link rel="stylesheet" type="text/css" id="style_sheet"
	th:href="@{/assets/css/skins/default.css}">
<link rel="stylesheet" type="text/css" id="style_sheet"
	href="assets/css/skins/default.css">
<link rel="stylesheet"
	href="/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.css">

<style>
.input-container {
	position: relative;
	margin: 20px;
}

.input-container input {
	padding-right: 30px;
}

.toggle-password {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.text-danger {
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 5px;
	color: red;
	white-space: nowrap;
}

.text-danger .fa-exclamation {
	margin-right: 5px;
}
</style>
</head>
<body id="top">

	<!-- End Google Tag Manager (noscript) -->
	<div class="page_loader"></div>

	<!-- Contact section start -->
	<div class="contact-section overview-bgi">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Form content box start -->
					<div class="form-content-box">
						<!-- Logo -->
						<a href="index.html"> <img
							th:src="@{/assets/img/logos/logo.png}" class="cm-logo" alt="logo">
						</a>
						<p id="toast-success-reset-password" hidden="true"
							class="btn btn-outline-primary btn-lg btn-block">Success
							Example</p>
						<p id="toast-failed-reset-password" hidden="true"
							class="btn btn-outline-primary btn-lg btn-block">Failed
							Example</p>
						<!-- details -->
						<div class="details">
							<!-- Name -->
							<h3>
								Reset Password <span th:text="${user.email}"></span>
							</h3>
							<!-- Form start -->

							<form th:action="@{/reset_password/token}" method="post"
								class="password-form" onsubmit="return submitForm();">
								<input type="hidden" name="tokenModel" th:value="${tokenModel}" />

								<div class="form-group input-container">
									<input
										type="password" name="password" id="password"
										class="form-control password-input"
										placeholder="Enter New password"
										onkeyup="validatePassword();" /> <span
										class="toggle-password"
										onclick="togglePasswordVisibility('password')"> <i
										id="password-toggle-icon" class="fa fa-eye"></i>
									</span> <span id="validation-password" class="text-danger"> <i
										class="fa fa-exclamation" style="display: none;"></i> <span
										class="error-message"></span>
									</span>
								</div>

								<div class="form-group input-container">
									<input type="password"
										class="form-control password-input" id="confirmPassword"
										placeholder="Confirm New password"
										onkeyup="validateConfirmPassword();" /> <span
										class="toggle-password"
										onclick="togglePasswordVisibility('confirmPassword')">
										<i id="confirm-password-toggle-icon" class="fa fa-eye"></i>
									</span> <span id="validation-confirmPassword" class="text-danger">
										<i class="fa fa-exclamation" style="display: none;"></i> <span
										class="error-message"></span>
									</span>
								</div>

								<div class="text-center">
									<button type="submit" class="btn btn-primary">Change
										Password</button>
								</div>

								<p id="message" class="message" style="display: none;"></p>
							</form>

							<!-- Form end -->
						</div>
						<!-- Footer -->
						<div class="footer">
							<span>Already a member? <a href="/login">Login here</a></span>
						</div>
					</div>
					<!-- Form content box end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Contact section end -->

	<!-- Full Page Search -->
	<div id="full-page-search">
		<button type="button" class="close">×</button>
		<form action="#">
			<input type="search" value="" placeholder="type keyword(s) here" />
			<button type="button" class="btn btn-sm btn-color">Search</button>
		</form>
	</div>

	<!-- External JS libraries -->
	<script th:src="@{/assets/js/jquery-2.2.0.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/jquery.selectBox.js}"></script>
	<script th:src="@{/assets/js/rangeslider.js}"></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/js/jquery.filterizr.js}"></script>
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/backstretch.js}"></script>
	<script th:src="@{/assets/js/jquery.countdown.js}"></script>
	<script th:src="@{/assets/js/jquery.scrollUp.js}"></script>
	<script th:src="@{/assets/js/particles.min.js}"></script>
	<script th:src="@{/assets/js/typed.min.js}"></script>
	<script th:src="@{/assets/js/dropzone.js}"></script>
	<script th:src="@{/assets/js/jquery.mb.YTPlayer.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script
		th:src="@{/https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE}"></script>
	<script th:src="@{/assets/js/ie-emulation-modes-warning.js}"></script>
	<!-- Custom JS Script -->
	<script th:src="@{/assets/js/app.js}"></script>
	<script
		th:src="@{/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.js}"></script>

	<script th:src="@{/adminAssets/assets/static/js/pages/sweetalert2.js}"></script>

	<script type="text/javascript">
    /* function validatePassword() {
        const passwordValue = document.getElementById("password").value;

        if (passwordValue.length < 8) {
            document.getElementById('validation-password').textContent = "Password must be at least 8 characters long";
            return false;
        } else if (!/[A-Z]/.test(passwordValue)) {
            document.getElementById('validation-password').textContent = "Password must contain at least one uppercase letter";
            return false;
        } else {
            document.getElementById('validation-password').textContent = "";
            return true;
        }
    }

    function validateConfirmPassword() {
        const passwordValue = document.getElementById("password").value;
        const confirmPasswordValue = document.getElementById("confirmPassword").value;

        if (confirmPasswordValue === "") {
            document.getElementById('validation-confirmPassword').textContent = "Confirm Password is required";
            return false;
        } else if (passwordValue !== confirmPasswordValue) {
            document.getElementById('validation-confirmPassword').textContent = "Passwords do not match";
            return false;
        } else {
            document.getElementById('validation-confirmPassword').textContent = "";
            return true;
        }
    }

    function submitForm() {
        var isValidPassword = validatePassword();
        var isValidConfirmPassword = validateConfirmPassword();

        if (isValidPassword && isValidConfirmPassword) {
            var formData = new FormData(document.querySelector("form"));

            fetch("/reset_password/token", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to change password.');
                }
                return response.text();
            })
            .then(message => {
                document.getElementById("message").innerText = message;
                document.getElementById("message").style.display = "block";
                document.getElementById("toast-success-reset-password").click();
                
                setTimeout(function() {
                    window.location.href = "/login"; 
                }, 3000); 
            })
            .catch(error => {
                document.getElementById("message").innerText = error.message;
                document.getElementById("message").style.display = "block";
                document.getElementById("toast-failed-reset-password").click();
            });
        }
        return false; 
    }
    function togglePasswordVisibility(inputId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(`${inputId}-toggle-icon`);

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    } */
    function validatePassword() {
        const passwordValue = document.getElementById("password").value;
        const validationMessage = document.getElementById('validation-password').querySelector('.error-message');
        const exclamationIcon = document.getElementById('validation-password').querySelector('.fa-exclamation');

        if (passwordValue.length < 8) {
            validationMessage.textContent = "Password must be at least 8 characters long";
            exclamationIcon.style.display = 'inline';
            return false;
        } else if (!/[A-Z]/.test(passwordValue)) {
            validationMessage.textContent = "Password must contain at least one uppercase letter";
            exclamationIcon.style.display = 'inline';
            return false;
        } else {
            validationMessage.textContent = "";
            exclamationIcon.style.display = 'none';
            return true;
        }
    }

    function validateConfirmPassword() {
        const passwordValue = document.getElementById("password").value;
        const confirmPasswordValue = document.getElementById("confirmPassword").value;
        const validationMessage = document.getElementById('validation-confirmPassword').querySelector('.error-message');
        const exclamationIcon = document.getElementById('validation-confirmPassword').querySelector('.fa-exclamation');

        if (confirmPasswordValue === "") {
            validationMessage.textContent = "Confirm Password is required";
            exclamationIcon.style.display = 'inline';
            return false;
        } else if (passwordValue !== confirmPasswordValue) {
            validationMessage.textContent = "Passwords do not match";
            exclamationIcon.style.display = 'inline';
            return false;
        } else {
            validationMessage.textContent = "";
            exclamationIcon.style.display = 'none';
            return true;
        }
    }

    function submitForm() {
        var isValidPassword = validatePassword();
        var isValidConfirmPassword = validateConfirmPassword();

        if (isValidPassword && isValidConfirmPassword) {
            var formData = new FormData(document.querySelector("form"));

            fetch("/reset_password/token", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to change password.');
                }
                return response.text();
            })
            .then(message => {
                document.getElementById("message").innerText = message;
                document.getElementById("message").style.display = "block";
                document.getElementById("toast-success-reset-password").click();
                
                setTimeout(function() {
                    window.location.href = "/login"; 
                }, 3000); 
            })
            .catch(error => {
                document.getElementById("message").innerText = error.message;
                document.getElementById("message").style.display = "block";
                document.getElementById("toast-failed-reset-password").click();
            });
        }
        return false; 
    }

    function togglePasswordVisibility(inputId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(`${inputId}-toggle-icon`);

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
</body>
</html>