<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Az CAR</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />
<!-- External CSS libraries -->
<link type="text/css" rel="stylesheet"
	href="/assets/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/css/magnific-popup.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/css/jquery.selectBox.css" />
<link type="text/css" rel="stylesheet" href="/assets/css/dropzone.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/css/rangeslider.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/css/animate.min.css" />
<link type="text/css" rel="stylesheet" href="/assets/css/slick.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/css/jquery.mCustomScrollbar.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/fonts/font-awesome/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet"
	href="/assets/fonts/flaticon/font/flaticon.css" />

<!-- Favicon icon -->
<link rel="shortcut icon" href="/assets/img/favicon.ico"
	type="image/x-icon" />

<!-- Google fonts -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700" />

<!-- Custom Stylesheet -->
<link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css" id="style_sheet"
	href="/assets/css/skins/default.css">


<link rel="stylesheet"
	href="/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.css">
</head>
<body id="top">
	<div class="page_loader"></div>

	<!-- main header start -->
	<header class="main-header sticky-header" id="main-header-2">
		<div class="container">
			<div class="row">
				<p id="toast-success-logout" hidden="true"
					class="btn btn-outline-primary btn-lg btn-block">Success Logout</p>


				<div class="col-12">
					<nav class="navbar navbar-expand-lg navbar-light rounded">
						<a class="navbar-brand logo navbar-brand d-flex mr-auto" href="/">
							<img src="assets/img/logos/black-logo1212.png" alt="logo" />
						</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbar"
							aria-controls="navbar" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="fa fa-bars"></span>
						</button>
						<div class="navbar-collapse collapse w-100" id="navbar">
							<ul class="navbar-nav ml-auto">

								<li class="nav-item"><a class="nav-link"
									onclick="return checkLogin();"
									th:href="@{/home/availablecars/}">Available Cars</a></li>
								<li class="nav-item" th:if="${session.emailLogin}"><a
									class="nav-link" th:href="@{/home/myplan/}">My Plan</a></li>
								<li class="nav-item"><a class="nav-link" href="#">
										About Us </a></li>

								<li class="nav-item"><a class="nav-link" href="#">
										Contact Us </a></li>

								<li class="nav-item dropdown" th:if="${session.user}"><a
									class="btn btn-sm btn-white-sm-outline btn-round signup-link"
									th:href="@{/user/profile/} + ${session.user}"
									th:text="Hello+', ' +${session.user}"></a>
									<button id="logout"
										class="btn btn-sm btn-theme btn-round signup-link">Logout</button></li>

								<li class="nav-item dropdown" th:if="${session.admin}"><a
									class="btn btn-sm btn-white-sm-outline btn-round signup-link"
									href="#" th:text="Hello+', ' +${session.admin}"></a> <a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/dashboard/">Dashboard</a>
									<button id="logout"
										class="btn btn-sm btn-theme btn-round signup-link">Logout</button></li>

								<li class="nav-item dropdown" th:unless="${session.isAuthen}">
									<a class="btn btn-sm btn-theme btn-round signup-link"
									href="/login">Login</a> <a
									class="btn btn-sm btn-theme btn-round signup-link"
									href="/register">Register</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- main header end -->
	<input type="hidden" th:value="${session.emailLogin}" id="emailLogin">

	<p id="toast-failed-login" hidden="false"
		class="btn btn-outline-primary btn-lg btn-block">Failed Example</p>
	<!-- Banner start -->
	<div class="banner banner-bg" id="particles-banner-wrapper">
		<div id="particles-banner"></div>
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item item-bg active">
					<div
						class="carousel-caption banner-slider-inner d-flex h-100 text-left">
						<div class="carousel-content container">
							<div class="text-left max-w">
								<h3 data-animation="animated fadeInDown delay-05s">
									Driving Made Simple <br />
								</h3>
								<p data-animation="animated fadeInUp delay-10s">Ride with
									Easy, Book with Confidence.</p>
								<a data-animation="animated fadeInUp delay-10s"
									th:href="@{/home/carregister/}"
									class="btn btn-lg btn-round btn-theme"
									onclick="return checkLogin()">Want rent your Car ?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span class="slider-mover-left"
				aria-hidden="true"> <i class="fa fa-angle-left"></i>
			</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="slider-mover-right" aria-hidden="true"> <i
					class="fa fa-angle-right"></i>
			</span>
			</a>
		</div>
	</div>
	<!-- banner end -->

	<!-- Featured car start -->
	<div class="featured-car content-area-2 bg-grea">
		<div class="container">
			<div class="main-title">
				<h1>
					<span>On sale</span>
				</h1>
				<p>Check out our on sale booking cars</p>
			</div>

			<div class="slick-slider-area" th:if="${carRegisterList.size()} >2">
				<div class="row slick-carousel"
					data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
					<div class="slick-slide-item">
						<div class="car-box-4">
							<!-- car img -->
							<div class="car-thumbnail">
								<a
									th:href="${'home/availablecars/details/'+carRegisterList.get(1).id}"
									class="car-img" onclick="return checkLogin()"> <span
									class="featured listing-time opening"
									th:text="${carRegisterList.get(1).discount}+'% For discount' "></span>
									<img
									th:src="${'get/'+carRegisterList.get(1).images.get(1).urlImage}"
									alt="car-list" class="img-fluid">
								</a>

								<div class="text">
									<h3>
										<a href="car-details.html" onclick="return checkLogin()"
											th:text="${carRegisterList.get(1).carmodel.model}"></a>
									</h3>
									<ul class="facilities-list clearfix">
										<li class="bordered-right"><i class="fa fa-map-marker"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(1).address}"></span></li>
										<li class="bordered-right"><i class="fa fa-car"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(1).engineInformationTranmission}? 'Automatic' :'Manual'"></span></li>
										<li><i class="flaticon-petrol"></i> <span
											th:text="${carRegisterList.get(1).fuelType}"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="car-box-4">
							<!-- car img -->
							<div class="car-thumbnail">
								<a onclick="return checkLogin()"
									th:href="${'home/availablecars/details/'+carRegisterList.get(1).id}"
									class="car-img"> <span
									class="featured listing-time opening"
									th:text="${carRegisterList.get(1).discount}+'% For discount' "></span>
									<img
									th:src="${'get/'+carRegisterList.get(1).images.get(1).urlImage}"
									alt="car-list" class="img-fluid">
								</a>

								<div class="text">
									<h3>
										<a href="car-details.html" onclick="return checkLogin()"
											th:text="${carRegisterList.get(1).carmodel.model}"></a>
									</h3>
									<ul class="facilities-list clearfix">
										<li class="bordered-right"><i class="fa fa-map-marker"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(1).address}"></span></li>
										<li class="bordered-right"><i class="fa fa-car"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(1).engineInformationTranmission}? 'Automatic' :'Manual'"></span></li>
										<li><i class="flaticon-petrol"></i> <span
											th:text="${carRegisterList.get(1).fuelType}"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="car-box-4">
							<!-- car img -->
							<div class="car-thumbnail">
								<a onclick="return checkLogin()"
									th:href="${'home/availablecars/details/'+carRegisterList.get(2).id}"
									class="car-img"> <span
									class="featured listing-time opening"
									th:text="${carRegisterList.get(2).discount}+'% For discount' "></span>
									<img
									th:src="${'get/'+carRegisterList.get(2).images.get(1).urlImage}"
									alt="car-list" class="img-fluid">
								</a>

								<div class="text">
									<h3>
										<a href="car-details.html" onclick="return checkLogin()"
											th:text="${carRegisterList.get(2).carmodel.model}"></a>
									</h3>
									<ul class="facilities-list clearfix">
										<li class="bordered-right"><i class="fa fa-map-marker"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(2).address}"></span></li>
										<li class="bordered-right"><i class="fa fa-car"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(2).engineInformationTranmission}? 'Automatic' :'Manual'"></span></li>
										<li><i class="flaticon-petrol"></i> <span
											th:text="${carRegisterList.get(2).fuelType}"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="car-box-4">
							<!-- car img -->
							<div class="car-thumbnail">
								<a onclick="return checkLogin()"
									th:href="${'home/availablecars/details/'+carRegisterList.get(0).id}"
									class="car-img"> <span
									class="featured listing-time opening"
									th:text="${carRegisterList.get(0).discount}+'% For discount' "></span>
									<img
									th:src="${'get/'+carRegisterList.get(0).images.get(1).urlImage}"
									alt="car-list" class="img-fluid">
								</a>

								<div class="text">
									<h3>
										<a href="car-details.html" onclick="return checkLogin()"
											th:text="${carRegisterList.get(0).carmodel.model}"></a>
									</h3>
									<ul class="facilities-list clearfix">
										<li class="bordered-right"><i class="fa fa-map-marker"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(0).address}"></span></li>
										<li class="bordered-right"><i class="fa fa-car"
											aria-hidden="true"></i> <span
											th:text="${carRegisterList.get(0).engineInformationTranmission}? 'Automatic' :'Manual'"></span></li>
										<li><i class="flaticon-petrol"></i> <span
											th:text="${carRegisterList.get(0).fuelType}"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slick-prev slick-arrow-buton">
					<i class="fa fa-angle-left"></i>
				</div>
				<div class="slick-next slick-arrow-buton">
					<i class="fa fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- Featured car end -->

	<!-- Latest offest start -->
	<div class="latest-offest content-area-22">
		<div class="container">
			<div class="main-title">
				<h1>
					<span>Feature</span> Locations
				</h1>
				<p>Check out our feature location</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-pad wow fadeInRight delay-04s">
						<div class="overview aa overview-box">
							<img src="assets/img/hcm2.jpg" alt="latest-car" class="big-img"
								style="display: fit-content" />
							<div class="mask">
								<h2>TP.Hồ Chí Minh</h2>
								<p th:text="${carsInHcm.size()+' car(s)'}"></p>
								<a href="car-details.html" class="btn btn-border"
									onclick="return checkLogin()">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-12">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-pad wow fadeInUp delay-04s">
								<div class="overview overview-box">
									<img src="assets/img/hn2.jpg" alt="latest-car" />
									<div class="mask">
										<h2>Hà Nội</h2>
										<p th:text="${carsInHn.size()+' car(s)'}"></p>
										<a href="car-details.html" class="btn btn-border"
											onclick="return checkLogin()">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-pad wow fadeInUp delay-04s">
								<div class="overview overview-box">
									<img src="assets/img/dn.jpg" alt="latest-car" />
									<div class="mask">
										<h2>Đà Nẵng</h2>
										<p th:text="${carsInDn.size()+' car(s)'}"></p>
										<a href="car-details.html" class="btn btn-border"
											onclick="return checkLogin()">Read more</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-pad wow fadeInLeft delay-04s">
								<div class="overview overview-box">
									<img src="assets/img/bd.jpg" alt="latest-car" />
									<div class="mask">
										<h2>Bình Dương</h2>
										<p th:text="${carsInBd.size()+' car(s)'}"></p>
										<a href="car-details.html" class="btn btn-border"
											onclick="return checkLogin()">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Latest offest end -->

	<!-- Agent start -->
	<div class="agent content-area-2 bg-grea">
		<div class="container">
			<div class="main-title">
				<h1>
					<span>Our</span> Team
				</h1>
				<p>Meet our small team that make those great products.</p>
			</div>

			<div class="slick-slider-area">
				<div class="row slick-carousel"
					data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
					<div class="slick-slide-item">
						<div class="row agent-5">
							<div class="col-xl-5 col-lg-5 col-md-12 col-pad">
								<div class="photo">
									<img src="assets/img/avatar/avatar-9.jpg" alt="agent-list-2"
										class="img-fluid" />
								</div>
							</div>
							<div
								class="col-xl-7 col-lg-7 col-md-12 col-pad align-self-center">
								<div class="detail">
									<h5>Authentication</h5>
									<h4>
										<a href="agent-detail.html">Nguyen Ngoc Diep</a>
									</h4>

									<div class="contact">
										<ul>
											<li><span>Address:</span><a href="#">590 CMT8, P.11,
													Q.3, Hồ Chí Minh</a></li>
											<li><span>Email:</span><a
												href="mailto:info@themevessel.com"> info@themevessel.com</a>
											</li>
											<li><span>Mobile:</span><a href="tel:+554XX-634-7071">
													+55 4XX-634-7071</a></li>
										</ul>
									</div>

									<ul class="social-list clearfix">
										<li><a href="#" class="facebook-bg"><i
												class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="twitter-bg"><i
												class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="google-bg"><i
												class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="linkedin-bg"><i
												class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="row agent-5">
							<div class="col-xl-5 col-lg-5 col-md-12 col-pad">
								<div class="photo">
									<img src="assets/img/avatar/avatar-10.jpg" alt="agent-list-10"
										class="img-fluid" />
								</div>
							</div>
							<div
								class="col-xl-7 col-lg-7 col-md-12 col-pad align-self-center">
								<div class="detail">
									<h5>Office Manager</h5>
									<h4>
										<a href="agent-detail.html">Le Kha Tu</a>
									</h4>

									<div class="contact">
										<ul>
											<li><span>Address:</span><a href="#"> 44 New Design
													Street,</a></li>
											<li><span>Email:</span><a
												href="mailto:info@themevessel.com"> info@themevessel.com</a>
											</li>
											<li><span>Mobile:</span><a href="tel:+554XX-634-7071">
													+55 4XX-634-7071</a></li>
										</ul>
									</div>

									<ul class="social-list clearfix">
										<li><a href="#" class="facebook-bg"><i
												class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="twitter-bg"><i
												class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="google-bg"><i
												class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="linkedin-bg"><i
												class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="row agent-5">
							<div class="col-xl-5 col-lg-5 col-md-12 col-pad">
								<div class="photo">
									<img src="assets/img/avatar/avatar-9.jpg" alt="agent-list-2"
										class="img-fluid" />
								</div>
							</div>
							<div
								class="col-xl-7 col-lg-7 col-md-12 col-pad align-self-center">
								<div class="detail">
									<h5>Creative Director</h5>
									<h4>
										<a href="agent-detail.html">Le Van Ky Du</a>
									</h4>

									<div class="contact">
										<ul>
											<li><span>Address:</span><a href="#"> 44 New Design
													Street,</a></li>
											<li><span>Email:</span><a
												href="mailto:info@themevessel.com"> info@themevessel.com</a>
											</li>
											<li><span>Mobile:</span><a href="tel:+554XX-634-7071">
													+55 4XX-634-7071</a></li>
										</ul>
									</div>

									<ul class="social-list clearfix">
										<li><a href="#" class="facebook-bg"><i
												class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="twitter-bg"><i
												class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="google-bg"><i
												class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="linkedin-bg"><i
												class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="row agent-5">
							<div class="col-xl-5 col-lg-5 col-md-12 col-pad">
								<div class="photo">
									<img src="assets/img/avatar/avatar-10.jpg" alt="agent-list-10"
										class="img-fluid" />
								</div>
							</div>
							<div
								class="col-xl-7 col-lg-7 col-md-12 col-pad align-self-center">
								<div class="detail">
									<h5>Office Manager</h5>
									<h4>
										<a href="agent-detail.html">Van Ngoc Thai Thao</a>
									</h4>

									<div class="contact">
										<ul>
											<li><span>Address:</span><a href="#"> 44 New Design
													Street,</a></li>
											<li><span>Email:</span><a
												href="mailto:info@themevessel.com"> info@themevessel.com</a>
											</li>
											<li><span>Mobile:</span><a href="tel:+554XX-634-7071">
													+55 4XX-634-7071</a></li>
										</ul>
									</div>

									<ul class="social-list clearfix">
										<li><a href="#" class="facebook-bg"><i
												class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="twitter-bg"><i
												class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="google-bg"><i
												class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="linkedin-bg"><i
												class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-slide-item">
						<div class="row agent-5">
							<div class="col-xl-5 col-lg-5 col-md-12 col-pad">
								<div class="photo">
									<img src="assets/img/avatar/avatar-10.jpg" alt="agent-list-10"
										class="img-fluid" />
								</div>
							</div>
							<div
								class="col-xl-7 col-lg-7 col-md-12 col-pad align-self-center">
								<div class="detail">
									<h5>Office Manager</h5>
									<h4>
										<a href="agent-detail.html">Vu Van Dai</a>
									</h4>

									<div class="contact">
										<ul>
											<li><span>Address:</span><a href="#"> 44 New Design
													Street,</a></li>
											<li><span>Email:</span><a
												href="mailto:info@themevessel.com"> info@themevessel.com</a>
											</li>
											<li><span>Mobile:</span><a href="tel:+554XX-634-7071">
													+55 4XX-634-7071</a></li>
										</ul>
									</div>

									<ul class="social-list clearfix">
										<li><a href="#" class="facebook-bg"><i
												class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="twitter-bg"><i
												class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="google-bg"><i
												class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="linkedin-bg"><i
												class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slick-prev slick-arrow-buton">
					<i class="fa fa-angle-left"></i>
				</div>
				<div class="slick-next slick-arrow-buton">
					<i class="fa fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- Agent end -->

	<!-- Testimonial start -->
	<div class="testimonial overview-bgi wow fadeInUp delay-04s"
		style="background-image: url(assets/img/banner-2.jpg)">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="testimonial-inner">
						<header class="testimonia-header">
							<h1>
								<span>Our</span> Review
							</h1>
						</header>
						<div id="carouselExampleIndicators2" class="carousel slide"
							data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators2" data-slide-to="0"
									class="active"></li>
								<li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="avatar">
										<img src="assets/img/avatar/avatar.jpg" alt="avatar"
											class="img-fluid rounded-circle" />
									</div>
									<p class="lead">User Interface (UI): AzCar is a sleek and
										modern design, making it visually appealing and easy to
										navigate. The layout is intuitive, with clear menu options and
										prominent search functionalities. Users can quickly find the
										information they need and proceed with their bookings without
										encountering any confusion.</p>
									<div class="author-name">Martin Smith</div>
								</div>
								<div class="carousel-item">
									<div class="avatar">
										<img src="assets/img/avatar/avatar-2.jpg" alt="avatar-2"
											class="img-fluid rounded-circle" />
									</div>
									<p class="lead">Overview: AzCar is a user-friendly car
										rental website that aims to provide a seamless experience for
										users looking to rent vehicles for various purposes. With its
										intuitive interface and comprehensive search options,
										WheelsAway strives to be a go-to platform for travelers and
										locals alike.</p>
									<div class="author-name">Emma Connor</div>
								</div>
								<div class="carousel-item">
									<div class="avatar">
										<img src="assets/img/avatar/avatar-3.jpg" alt="avatar-3"
											class="img-fluid rounded-circle" />
									</div>
									<p class="lead">Mobile Experience: For users on the go,
										AzCar offers a mobile-responsive website and a dedicated
										mobile app for seamless browsing and booking from smartphones
										and tablets. The mobile experience mirrors that of the desktop
										version, allowing users to access all features and
										functionalities conveniently from their mobile devices.</p>
									<div class="author-name">John Antony</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonial end -->

	<!-- intro section start -->
	<div class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
					<img src="assets/img/logos/logo-white.png" alt="loo" />
				</div>
				<div class="col-xl-8 col-lg-7 col-md-7 col-sm-12">
					<div class="intro-text">
						<h3>have any queries? call us anytime</h3>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
					<a href="contact-1.html" class="btn btn-md">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
	<!-- intro section end -->

	<!-- Footer start -->
	<footer class="footer">
		<div class="container footer-inner">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
					<div class="footer-item">
						<h4>Contact Us</h4>
						<div class="f-border"></div>
						<ul class="contact-info">
							<li>Address: 590 CMT8, P.11, Q.3, Tp.Hồ Chí Minh</li>
							<li>Email: <a href="mailto:AzCars@AzCars.com">AzCars@AzCars.com</a>
							</li>
							<li>Phone: <a href="tel:+84-3939-7979">+84-3939-7979</a></li>
							<li>Fax: <a href="fax:+84-3939-7979">+84-3939-7979</a></li>
						</ul>

						<ul class="social-list clearfix">
							<li><a href="#" class="facebook-bgh"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter-bgh"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="google-bgh"><i
									class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="rss-bgh"><i class="fa fa-rss"></i></a>
							</li>
							<li><a href="#" class="linkedin-bgh"><i
									class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
					<div class="footer-item">
						<h4>Useful Links</h4>
						<div class="f-border"></div>
						<ul class="links">
							<li><a href="#"><i class="flaticon-arrows"></i>About us</a>
							</li>

							<li><a href="#"><i class="flaticon-arrows"></i>Available
									Cars Listing</a></li>


							<li><a href="#"><i class="flaticon-arrows"></i>Contact
									Us</a></li>

							<li><a href="#"><i class="flaticon-arrows"></i>Car
									Details</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
					<div class="recent-posts footer-item">
						<h4>Recent Posts</h4>
						<div class="f-border"></div>
						<div class="media mb-4">
							<a class="pr-3" href="/"> <img
								src="assets/img/sub-car/sub-car.jpg" alt="car" />
							</a>
							<div class="media-body align-self-center">
								<h5>
									<a href="car-details.html">2016 Audi S5 Coupe</a>
								</h5>
								<p>February 27, 2022</p>
								<p>
									<strong>$245,000</strong>
								</p>
							</div>
						</div>
						<div class="media mb-4">
							<a class="pr-3" href="/"> <img
								src="assets/img/sub-car/sub-car-2.jpg" alt="car" />
							</a>
							<div class="media-body align-self-center">
								<h5>
									<a href="car-details.html">2016 Audi R8</a>
								</h5>
								<p>February 27, 2022</p>
								<p>
									<strong>$245,000</strong>
								</p>
							</div>
						</div>
						<div class="media">
							<a class="pr-3" href="/"> <img
								src="assets/img/sub-car/sub-car-3.jpg" alt="car" />
							</a>
							<div class="media-body align-self-center">
								<h5>
									<a href="car-details.html">Read Audi A7 TDI</a>
								</h5>
								<p>February 27, 2022</p>
								<p>
									<strong>$245,000</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
					<div class="footer-item clearfix">
						<h4>Subscribe</h4>
						<div class="f-border"></div>
						<div class="Subscribe-box">
							<p>Excepteur sint occaecat cupidatat non proident, sunt in
								culpa qui officia deserunt mollit.</p>
							<form action="#" method="GET">
								<p>
									<input type="text" class="form-contact" name="email"
										placeholder="Enter Address" />
								</p>
								<p>
									<button type="submit" name="submitNewsletter"
										class="btn btn-block btn-color">Subscribe</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12">
					<p class="copy">
						&copy; 2024 <a href="/" target="_blank">Az Cars</a>. Group 3 Final
						Project .
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end -->



	<!-- Off-canvas sidebar -->
	<div class="off-canvas-sidebar">
		<div class="off-canvas-sidebar-wrapper">
			<div class="off-canvas-header">
				<a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
			</div>
			<div class="off-canvas-content">
				<aside class="canvas-widget">
					<div class="logo text-center">
						<img src="assets/img/logos/logo.png" alt="logo" />
					</div>
				</aside>
				<aside class="canvas-widget">
					<ul class="menu">
						<li class="menu-item menu-item-has-children"><a href="/">Home</a>
						</li>
						<li class="menu-item"><a href="car-grid-leftside.html">Car
								List</a></li>
						<li class="menu-item"><a href="car-details.html">Car
								Detail</a></li>
						<li class="menu-item"><a
							href="blog-single-sidebar-right.html">Blog</a></li>
						<li class="menu-item"><a href="about-1.html">About US</a></li>
						<li class="menu-item"><a href="contact-1.html">Contact US</a></li>
					</ul>
				</aside>
				<aside class="canvas-widget">
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

	<!-- External JS libraries -->
	<script src="/assets/js/jquery-2.2.0.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.selectBox.js"></script>
	<script src="/assets/js/rangeslider.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/jquery.filterizr.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/backstretch.js"></script>
	<script src="/assets/js/jquery.countdown.js"></script>
	<script src="/assets/js/jquery.scrollUp.js"></script>
	<script src="/assets/js/particles.min.js"></script>
	<script src="/assets/js/typed.min.js"></script>
	<script src="/assets/js/dropzone.js"></script>
	<script src="/assets/js/jquery.mb.YTPlayer.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>


	<!-- Custom JS Script -->
	<script src="/assets/js/app.js"></script>
	<script
		th:src="@{/adminAssets/assets/extensions/sweetalert2/sweetalert2.min.js}"></script>

	<script th:src="@{/adminAssets/assets/static/js/pages/sweetalert2.js}"></script>
	<script type="text/javascript">
		function checkSubmitLogout() {
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/logout', true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.onload = function() {
				if (xhr.status === 200) {

					localStorage.setItem('logoutSuccess', 'true');

					window.location.href = "/";
				} else {
					console.error('Logout request failed');
				}
			};
			xhr.onerror = function() {
				console.error('Logout request failed');
			};
			xhr.send();
		}
		document.addEventListener("DOMContentLoaded", function() {
			
			const logoutSuccess = localStorage.getItem('logoutSuccess');

			if (logoutSuccess === 'true') {
				Swal2.fire({
					icon : "success",
					title : "Logout successful",
				});
				
				localStorage.removeItem('logoutSuccess');
			}
		});
	</script>



</body>
</html>
